.btn--primary{
    color: #fff;
    background-color: $blue !important;
    border-color: $blue !important;
    border-radius: 20px;
    padding: 10px;
    max-width: 174px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.btn--primary-gold{
    color: #fff !important;
    background-color: $darkgold !important;
    border-color: $darkgold !important;
    border-radius: 20px;
    padding: 10px;
    max-width: 174px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.btn--primary-gold > a    {
    color: #fff !important;
}

.btn--primary-gold:hover{
    transform: scale(1.1);
}

.btn--primary-sm {
    font-size: 0.9em;
}

.btn--primary-white{
    color:$blue;
    background-color: white;
    border-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.btn--primary-orange{
    color: white;
    background-color: #f48258;
    border-color: #f48258;
    border-radius: 20px;
    padding: 10px;
    max-width: 174px;
    display: flex;
    justify-content: center;
}

.btn--primary-purple{
    color: white;
    background-color: $purple !important;
    border-color: $purple !important ;
    border-radius: 20px;
    padding: 10px;
    max-width: 174px;
    display: flex;
    justify-content: center;
}


.btn-primary{
    color: white;
    background-color: $blue;
    border-color: $blue;
    border-radius: 20px;
    padding: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
}

.btn{
    color: white !important;
    background-color: $blue;
    border-color: $blue;
    border-radius: 20px !important;
}

.btn--create{
    color: white !important;
    background-color: $blue;
    border-color: $blue;
    border-radius: 20px !important;
    width: 200px;
    padding: 20px;
    text-align: center;
    margin: none !important;
}

.btn-secondary{
    background-color: $darkgold !important;
    border-color: none !important;
}