.form--searchInternships{
    display: flex;
    justify-content: center;
}
.form--searchInternships-select{
    width: 240px !important;
}
.form--searchInternships-btn{
    margin: 40px 0 40px 0;
    background-color: $blue !important;
    width: 100px;
}