.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
    margin-left: 30px;
}

.hero > div {
    align-self: center;
    width: 500px;
}

.card{
//     background-color: #5268d3 !important;
    border: none !important;
    height: 400px;
}

.col-sm-3{
    border: none !important;
}

.about--description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.about--description >h3{
    margin-bottom: 40px;
}

.about--description-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.higher{
    margin-bottom: 100px;
}

.arrow{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-body--image >img{
    width: 40%;
    object-fit: contain;
}

.card-body--image{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}

.bigger{
    width: 61% !important;
}

.card-body > p{
    font-size: 0.9em;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}