#nav{
    background-color: $blue !important;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

.navbar-nav li > a:hover{
    color: white !important;
}

.sitenav--applications{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

// .sitenav--applications > ul{
//     list-style: none;    
// }

// .sitenav--applications > ul > a{
//     color: black;
//     text-decoration: none;
// }