// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'images';

@import 'forms';

@import 'containers';

@import 'home';

@import 'buttons';

@import 'login';

@import 'nav';

@import 'cards';

@import 'company';

@import 'studentProfile';

@import 'footer';


.center{
    text-align: center;
}

.btn--primary-gold:hover{
    color: white !important;
    text-decoration: none !important;
}

a:hover{
    color: black !important;
    text-decoration: none !important;
}
